<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" href="{{ url_for('webapp.create') }}">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="d-inline-block" width="45" height="45">
      BurNote
    </a>
    <div>
      <a class="btn btn-outline-light me-2" href="{{ url_for('webapp.about') }}">About</a>
      <a class="btn btn-outline-light" href="{{ url_for('api.redoc') }}">API</a>
    </div>
  </div>
</nav>
