{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="text-center">About FastNote</h1>
    <p class="lead text-center">FastNote is a simple note-taking web application.</p>
    <p class="text-center">It allows you to create notes that will be deleted after reading.</p>
    <p class="text-center">You can also set an expiration date for your notes.</p>
    <p class="text-center">FastNote is built using Flask and SQLite.</p>
  </div>
{% endblock %}
